<!-- admin_dashboard.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/admin_dashboard.css"
    />
  </head>
  <body>
    {% include 'navigation.html' %}
    <div class="container">
      <h1>Welcome, Admin!</h1>
      <a href="/admin/food_items/add">Add Food Item</a>
      <table>
        <tr>
          <th>Dish Name</th>
          <th>Price</th>
          <th>Availability</th>
        </tr>
        {% for food_item in food_items %}
        <tr>
          <td>{{ food_item.dish_name }}</td>
          <td>{{ food_item.price }}</td>
          <td>{{ food_item.availability }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
