h1{
    text-align: center;
    color: rgb(249, 83, 249);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.post_container{
    border: 1px solid black;
    width: 95%;
    min-height: 200px;
    margin: auto;
    overflow-y: auto;
}

.post_card{

}